{% extends "base.html" %}
{% block title %}
Customers
{% endblock title %}
{% block body %}
<div class="container bg-white border rounded py-3 my-1">
  <h2 class="w3-text-theme">Customers</h2>
  <p>Laboratory customers are legal entities. Only laboratory managers can associate users with customers using the site administration page.</p>
  <p>Click on the customer name to update its details. Use the form under the list to add a new customer.</p>
  <form id="search_form" class="form-inline" method="get">
    <div class="form-group mx-sm-3 mb-2">
      <label for="search" class="sr-only">Search</label>
      <input type="text" class="form-control" id="search" name="q" placeholder="Customer" value="{{ query|default_if_none:'' }}" autofocus/>
    </div>
    <button form="search_form" type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
  <div class="row">
    <div class="col-lg-auto">
      <div class="mb-3">
      {% if page_obj %}
        {% if query %}
        <span class="text-secondary small">
          {{ customers_count }} records found for '{{ query }}'. <a href="{% url 'customers:index' %}">Clear search filter.</a>
        </span>
        {% else %}
        <span class="text-secondary small">
          {{ customers_count }} records found.
        </span>
        {% endif %}
      {% else %}
        <span class="text-secondary small">
          No records found.
          {% if query %}
            <a href="{% url 'customers:index' %}">Clear search filter.</a>
          {% endif %}
        </span>
      {% endif %}
      </div>
      <ol start="{{ page_obj.start_index }}">
        {% for item in page_obj %}
        <li>
          <h5><a href="{% url 'customers:customer_details' item.id %}">{{ item.name }}</a></h5>
          <small>{{ item.address|linebreaks }}</small>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% if page_obj.has_other_pages %}
  <div class="row justify-content-center">
    <!-- Pagination for small screens -->
    <div class="col-auto d-sm-none">
      <ul class="pagination">
        {% if page_obj.number != 1 %}
          <li class="page-item"><a class="page-link" title="first" href="?page=1&q={{ query|default_if_none:'' }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" title="previous" href="?page={{ page_obj.previous_page_number }}&q={{ query|default_if_none:'' }}">&lsaquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" title="next" href="?page={{ page_obj.next_page_number }}&q={{ query|default_if_none:'' }}">&rsaquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
        {% endif %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
          <li class="page-item"><a class="page-link" title="last" href="?page={{ page_obj.paginator.num_pages }}&q={{ query|default_if_none:'' }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    <!-- Pagination for larger screens -->
    <div class="col-auto d-none d-sm-block">
      <ul class="pagination">
        {% if page_obj.number != 1 %}
          <li class="page-item"><a class="page-link" title="first" href="?page=1&q={{ query|default_if_none:'' }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% if page_obj.has_previous %}
          <li class="page-item d-none d-sm-block"><a class="page-link" title="previous" href="?page={{ page_obj.previous_page_number }}&q={{ query|default_if_none:'' }}">&lsaquo;</a></li>
        {% else %}
          <li class="page-item d-none d-sm-block disabled"><span class="page-link">&lsaquo;</span></li>
        {% endif %}
        {% if page_obj.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ query|default_if_none:'' }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li class="page-item d-none d-sm-block"><a class="page-link" title="next" href="?page={{ page_obj.next_page_number }}&q={{ query|default_if_none:'' }}">&rsaquo;</a></li>
        {% else %}
          <li class="page-item d-none d-sm-block disabled"><span class="page-link">&rsaquo;</span></li>
        {% endif %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
          <li class="page-item"><a class="page-link" title="last" href="?page={{ page_obj.paginator.num_pages }}&q={{ query|default_if_none:'' }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
  <hr>
  <h4 class="w3-text-theme">Add a new customer</h4>
  <div class="row">
    <div class="col">
      <form class="" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.name.label_tag }}
          <input class="form-control" type="text" name="name" id="id_name" value="{{ form.name.value|default_if_none:'' }}" maxlength="{{ form.name.field.max_length }}" />
          <small class="text-danger">{{ form.name.errors }}</small>
        </div>
        <div class="form-group">
          {{ form.address.label_tag }}
          <textarea class="form-control" name="address" id="id_address" rows="3">{{ form.address.value|default_if_none:"" }}</textarea>
          <small class="text-danger">{{ form.address.errors }}</small>
        </div>
        <div class="form-group">
          <small class="text-danger">{{ form.non_field_errors }}</small>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
