{% extends "base.html" %}
{% load static %}
{% block title %}
Sample details
{% endblock title %}
{% block body %}
<div class="container bg-white border rounded py-3 my-1">
  <h2 class="w3-text-theme">Edit sample details</h2>
  <p>
    Update the sample details using the form below. <a href="{% url 'results:results' sample_id %}">Click here</a> to enter analysis results for this sample.
  </p>
  <div class="row">
    <div class="col">
      <form class="" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="id_number" class="col-lg-2 col-form-label">{{ form.number.label }}</label>
          <div class="col-lg-auto">
            <input class="form-control" type="text" name="number" id="id_number" value="{{ form.number.value|default_if_none:'' }}" readonly/>
            <small class="text-danger">{{ form.number.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_receipt_date" class="col-lg-2 col-form-label">{{ form.receipt_date.label }}</label>
          <div class="col-lg-auto">
            {{ form.receipt_date }}
            <small class="text-danger">{{ form.receipt_date.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_product" class="col-lg-2 col-form-label">{{ form.product.label }}</label>
          <div class="col-lg-auto">
            {{ form.product }}
            <small class="text-danger">{{ form.product.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_customer" class="col-lg-2 col-form-label">{{ form.customer.label }}</label>
          <div class="col-lg-auto">
            {{ form.customer }}
            <small class="text-danger">{{ form.customer.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_sampling_date" class="col-lg-2 col-form-label">{{ form.sampling_date.label }}</label>
          <div class="col-lg-auto">
            {{ form.sampling_date }}
            <small class="text-danger">{{ form.sampling_date.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_sampling_point" class="col-lg-2 col-form-label">{{ form.sampling_point.label }}</label>
          <div class="col-lg-auto">
            {{ form.sampling_point }}
            <small class="text-danger">{{ form.sampling_point.errors }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_report_date" class="col-lg-2 col-form-label">{{ form.report_date.label }}</label>
          <div class="col-lg-auto">
            {{ form.report_date }}
            <small class="text-danger">{{ form.report_date.errors }}</small>
          </div>
        </div>
        <div class="form-group">
          <small class="text-danger">{{ form.non_field_errors }}</small>
        </div>
        <div class="form-group text-center">
          <a class="btn btn-light border rounded mx-2" href="{% url 'samples:index' %}">Cancel</a>
          <button class="btn btn-primary mx-2" type="submit">Update</button>
        </div>
      </form>
      <a class="small" href="{% url 'samples:index' %}">&lsaquo; Back to list</a>
    </div>
  </div>
</div>
{% endblock body %}
